
#menu {
	background: #4acae0;
	padding: 5px 10px;
}
#menu li{
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 5px;
	font: bold verdana, sans-serif; 
}

body{
    background-image: url(../CRE/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}